html,
body {
  overflow-x: hidden;
}

@import "tailwindcss";

@theme {
  --color-primary: #38A4EC;
  --color-secondary: #19C886;
  --color-tertiary: #002942;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.input {
  @apply border border-gray-300 rounded-md p-2;
}

.swiper-hero-pagination-bullets {
  @apply w-3 h-3 bg-gray-300 opacity-100 rounded-full mx-1 transition-all;
}

.swiper-hero-pagination-bullets-active {
  @apply bg-secondary scale-110;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}